    <!--Componente4 - Início.-->
    <div class="mapa-de-coletas"> <!--Início do modal da coleta selecionada-->
        <!--Esse componente deve consumir alguma API para ser funcional.-->
        <div id="titulo">
            <p id="titulo-card">Mapa interativo</p>
        </div>      
        <div id="minimapa-inerativo">
            <p id="titulo-card">Espaço para inserir o minimapa-inerativo.</p>
        </div>
        <div id="texto-rodape">
            <p id="texto-comum2">Mapeamento das coletas agendadas para hoje: 04/11/2023</p>
        </div>
        <div class="botoes-rodape">
            <button class="padrao1">Abrir mapa</button>
            <button class="padrao1">Calcular rota</button>
        </div>
    </div> <!--Fim do interior do card.-->
    <!--Componente4 - Fim!-->