
    <!--Componente1 - Início.-->
    <div id="historico-desempenho"> <!--Início do card das coletas agendadas-->
        <p id="titulo-card">Histórico de semanas anteriores</p>
            <div class="lista-de-coletas"> <!--Área de rolagem das coletas agendadas - Início.-->
                <!--Todo o conteúdo abaixo serve apenas para teste de funcionalidade
                e deve ser substituido no futuro por objetos reais.-->
                <div class="coleta-evento">
                    <div id="descricao">
                        <p id="atributos-coleta">Semana 001</p>
                        <p id="valores-coleta">De 10/07/2023 à 17/07/2023</p>
                    </div>
                </div>
                <div class="coleta-evento">
                    <div id="descricao">
                        <p id="atributos-coleta">Semana 001</p>
                        <p id="valores-coleta">De 10/07/2023 à 17/07/2023</p>
                    </div>
                </div>
                <div class="coleta-evento">
                    <div id="descricao">
                        <p id="atributos-coleta">Semana 001</p>
                        <p id="valores-coleta">De 10/07/2023 à 17/07/2023</p>
                    </div>
                </div>
                <div class="coleta-evento">
                    <div id="descricao">
                        <p id="atributos-coleta">Semana 001</p>
                        <p id="valores-coleta">De 10/07/2023 à 17/07/2023</p>
                    </div>
                </div>
                <div class="coleta-evento">
                    <div id="descricao">
                        <p id="atributos-coleta">Semana 001</p>
                        <p id="valores-coleta">De 10/07/2023 à 17/07/2023</p>
                    </div>
                </div>
                <div class="coleta-evento">
                    <div id="descricao">
                        <p id="atributos-coleta">Semana 001</p>
                        <p id="valores-coleta">De 10/07/2023 à 17/07/2023</p>
                    </div>
                </div>
                <!--Aqui acabam os elementos de teste!-->
            </div> <!--Área de rolagem das coletas agendadas - Fim.-->
    </div> <!--Fim do card das coletas agendadas-->
    <!--Componente1 - Fim.-->
