<div class="tabs">
  <div class="tab" (click)="openTab('tab1')" [class.active]="isTabActive('tab1')">
    <p id="titulo-tab">Planejamento diário</p>
  </div>
  <div class="tab" (click)="openTab('tab2')" [class.active]="isTabActive('tab2')">
    <p id="titulo-tab">Índices de desempenho</p>
  </div>
  <div class="tab" (click)="openTab('tab3')" [class.active]="isTabActive('tab3')">
    <p id="titulo-tab">Histórico de coletas</p>
  </div>
</div>

<div class="content">

  <div id="tab1" class="tab-content" [ngStyle]="{ display: isTabActive('tab1') ? 'block' : 'none' }">
    <!--Planejamento diário.-->
    <ng-container id="planejamento-diário">
      <div class="tab1">
        <app-coletas-agendadas></app-coletas-agendadas>
        <app-minimapa-de-coletas></app-minimapa-de-coletas>
      </div>
    </ng-container>
  </div>

  <div id="tab2" class="tab-content" [ngStyle]="{ display: isTabActive('tab2') ? 'block' : 'none' }">
    <ng-container id="indices-de-desempenho">
      <div class="tab2">
        <app-desempenho-semanal></app-desempenho-semanal>
        <app-historico-desempenho></app-historico-desempenho>
      </div>
    </ng-container>
  </div>

  <div id="tab3" class="tab-content" [ngStyle]="{ display: isTabActive('tab3') ? 'block' : 'none' }">
    <ng-container id="historico-de-coletas">
      <div class="tab3">
        <app-historico-de-coletas></app-historico-de-coletas>
      </div>
    </ng-container>
  </div>
</div>

