<!--Componente3 - Início.-->
    <div id="coleta-selecionada"> <!--Início do modal da coleta selecionada-->
        <!--Esse componente deve ser transformado em classe o quanto antes.-->
        <!--Adicionar o botão de fechar o modal.-->
        <div id="botao-modal">
            <button class="fechar-modal" (click)="fecharPopup">X</button>
        </div>
        <div id="interior-do-card"> <!--Início do interior do card.-->
            <div id="id-coleta">
                <p id="titulo-card">ID da coleta: </p>
                <p id="texto-comum">001</p>
            </div>
            <hr class="separacao-de-conteudo">
            <div id="info-coleta">
                <div id="data-hora">
                    <div id="data">
                        <p id="titulo-card2">Data: </p>
                        <p id="texto-comum2">04/11/2023</p>
                    </div>
                    <div id="hora">
                        <p id="titulo-card2">Hora: </p>
                        <p id="texto-comum2">12:00</p>
                    </div>
                </div>
                <hr class="separacao-vertical">
                <div id="endereco">
                    <p id="titulo-card2">Endereço: </p>
                    <p id="texto-comum2">Rua Senac - 785</p>
                </div>                
            </div>
            <hr class="separacao-de-conteudo">
            <div id="info-descartador">
                <img id="foto-descartador" src="assets/imagens/user_photo.png" alt="img-descartador"> 
                <div id="nome-avaliacao">
                    <p id="titulo-card2">Nome do descartador</p>
                    <p id="texto-comum2">Avaliação: 4,5</p>
                </div>
            </div>
            <hr class="separacao-de-conteudo">
            <div id="descricao">
                <p id="titulo-card2">Drescrição completa: </p>
                <p id="texto-comum2">Olá! gostaria de agendar a coleta de materiais recicláveis, incluindo papelão, vidro e plástico para a próxima quinta-feira ao meio dia.</p>
            </div>
            <hr class="separacao-de-conteudo">
            <div id="quantidade-residuo">
                <p id="titulo-card2">Quantidade de resíduo: </p>
                <div id="valores">
                    <div id="estimativa">
                        <p id="texto-comum2">Estimativa:</p>
                        <input class="valores-descarte" type="text" name="">
                    </div>
                    <div id="valor-exato">
                        <p id="texto-comum2">Valor exato:</p>
                        <input class="valores-descarte" type="text" name="">
                    </div>
                </div>
            </div>
            <hr class="separacao-de-conteudo">
            <div id="img-residuo">
                <p id="titulo-card2">Foto do resíduo:</p>
                <div class="foto-residuo">
                    <img id="foto-residuo" src="assets/imagens/img-icon.jpg" alt="foto-residuo">
                </div>
            </div>
        </div> <!--Fim do interior do card.-->
    </div>
    <!--Componente3 - Fim!-->