
    <!--Componente5 - Início.-->
    <div id="desempenho-semanal"> <!--Início do modal da coleta selecionada-->
        <!--Esse componente deve ser transformado em classe o quanto antes.-->
        <!--Adicionar o botão de fechar o modal.-->
        <div id="titulo-data">
            <p id="titulo-card">Desempenho na semana corrente </p>
            <p id="texto-comum2">De 10/07/2023 à 17/07/2023</p>
            <hr class="separacao-de-conteudo">
        </div>
        <div id="titulo-grafico">
            <p id="titulo-card2">Gráfico semanal das coletas realizadas</p>
        </div>
        <div id="grafico-coletas">
            <p id="titulo-card">Espaço para inserir o gráfico.</p>
        </div>
        <div id="titulo-grafico">
            <p id="titulo-card2">Movimentação financeira</p>
        </div>
        <div id="movimentacao-financeira">
            <div id="quanto-gastei">
                <p id="texto-comum2">Quanto gastei:</p>
                <input class="valores-descarte" type="number" name="">
            </div>   
            <div id="quanto-recebi">
                <p id="texto-comum2">Quanto recebi:</p>
                <input class="valores-descarte" type="number" name="">
            </div>       
        </div>
    </div>
    <!--Componente5 - Fim!-->
