
            <!--Componente1 - Início.-->
    <div class="apresenta_popup">       
            <div id="historico-coletas"> <!--Início do card das coletas agendadas-->
                <p id="titulo-card">Histórico de coletas</p>
                <p id="texto-comum2">Filtrar por:</p>

                <div class="botoes-filtro">
                    <button class="padrao1">Data</button>
                    <button class="padrao1">Material</button>
                    <button class="padrao1">Região</button>
                </div>

                    <div class="lista-de-coletas"> <!--Área de rolagem das coletas agendadas - Início.-->
                        <!--Todo o conteúdo abaixo serve apenas para teste de funcionalidade
                        e deve ser substituido no futuro por objetos reais.-->
                        <div class="coleta-evento">
                            <div id="descricao">
                                <p id="atributos-coleta">ID da coleta: </p>
                                <p id="valores-coleta">001</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Data: </p>
                                <p id="valores-coleta">10/07/2023</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Hora: </p>
                                <p id="valores-coleta">12:00</p>
                            </div>
                            <button class="abrirPopup" (click)="abrirPopup()">Ver mais +</button>
                        </div>
                        <div class="coleta-evento">
                            <div id="descricao">
                                <p id="atributos-coleta">ID da coleta: </p>
                                <p id="valores-coleta">001</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Data: </p>
                                <p id="valores-coleta">10/07/2023</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Hora: </p>
                                <p id="valores-coleta">12:00</p>
                            </div>
                            <button class="abrirPopup" (click)="abrirPopup()">Ver mais +</button>
                        </div>
                        <div class="coleta-evento">
                            <div id="descricao">
                                <p id="atributos-coleta">ID da coleta: </p>
                                <p id="valores-coleta">001</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Data: </p>
                                <p id="valores-coleta">10/07/2023</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Hora: </p>
                                <p id="valores-coleta">12:00</p>
                            </div>
                            <button class="abrirPopup" (click)="abrirPopup()">Ver mais +</button>
                        </div>
                        <div class="coleta-evento">
                            <div id="descricao">
                                <p id="atributos-coleta">ID da coleta: </p>
                                <p id="valores-coleta">001</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Data: </p>
                                <p id="valores-coleta">10/07/2023</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Hora: </p>
                                <p id="valores-coleta">12:00</p>
                            </div>
                            <button class="abrirPopup" (click)="abrirPopup()">Ver mais +</button>
                        </div>
                        <div class="coleta-evento">
                            <div id="descricao">
                                <p id="atributos-coleta">ID da coleta: </p>
                                <p id="valores-coleta">001</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Data: </p>
                                <p id="valores-coleta">10/07/2023</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Hora: </p>
                                <p id="valores-coleta">12:00</p>
                            </div>
                            <button class="abrirPopup" (click)="abrirPopup()">Ver mais +</button>
                        </div>
                        <div class="coleta-evento">
                            <div id="descricao">
                                <p id="atributos-coleta">ID da coleta: </p>
                                <p id="valores-coleta">001</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Data: </p>
                                <p id="valores-coleta">10/07/2023</p>
                            </div>
                            <div id="descricao">
                                <p id="atributos-coleta">Hora: </p>
                                <p id="valores-coleta">12:00</p>
                            </div>
                            <button class="abrirPopup" (click)="abrirPopup()">Ver mais +</button>
                        </div>
                        <!--Aqui acabam os elementos de teste!-->
                    </div> <!--Área de rolagem das coletas agendadas - Fim.-->
        </div> <!--Fim do card das coletas agendadas-->
        <div class="popup">
            <app-popup-coletas *ngIf="popupAberto" (fechar)="fecharPopup()"></app-popup-coletas>
        </div>
    </div>    
    <!--Componente1 - Fim.-->