/*CSS - Coletas Agendadas: início.*/
#coletas-agendadas{
    width: 500px;
    height: 500px;
    background-color: #A9C685;  
    border-radius: 5px;
    margin-bottom: 15px;
}

/*Textos - Início:*/
#titulo-card{
    padding-left: 10px;
    padding-top: 10px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 500;
} /*adicionar o contador com o typescript - o contador deve estar associado às coletas agendadas*/

#texto-comum{
    padding-left: 10px;
    padding-top: 5px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: 450;
}

#texto-comum-2{
    padding-left: 10px;
    padding-top: 5px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: 500;
}

#atributos-coleta{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: 500;
}

#valores-coleta{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:smaller;
    font-weight: 450;
}
/*Textos - Fim!*/

.separacao-de-conteudo{
    margin: 5px;
}

.separacao-vertical{
    border: none;
    border-left: 1px solid;
    height: 80px;
    margin-left: 10px;
    color: #A9C685;
}

.filtros{
    height: 50px;
    display: flex;
}

#input-number{
    width: 75px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    border: #A9C685;
    border-radius: 3px;
}

.lista-de-coletas{
    background-color: #f4f1e9;
    border: #A9C685;
    max-height: 330px;
    overflow: scroll;
    margin: 10px 10px 10px 10px;
}

.coleta-evento{
    margin: 5px 5px 0px 5px;
    display: flex;
    background-color: #f4f1e9;
    width: 400px;
    height: 80px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border-color: #A9C685;
    border-style:ridge;
    border-width: 1px;    
}

#atributos{
    margin-left: 5px;
    width: 125px;
}

#valores{
    margin-left: 5px;
    width: 90px;
}

#descricao{
    margin-left: 15px;
}
/*CSS - Coletas Agendadas: fim!*/
