<div id="coletas-agendadas"> <!--Início do card das coletas agendadas-->
    <p id="titulo-card">Coletas agendadas</p>
    <hr class="separacao-de-conteudo">
    <p id="texto-comum">Filtrar por:</p>
        <!--Filtros: início.-->
        <div class="filtros">
            <div id="filtro-dia">
                <p id="texto-comum">Dia:</p>
                <input type="number" id="input-number" placeholder="">
            </div>
            <div id="filtro-mes">
                <p id="texto-comum">Mês:</p>
                <input type="number" id="input-number" placeholder="">
            </div>
            <div id="filtro-ano">
                <p id="texto-comum">Ano:</p>
                <input type="number" id="input-number" placeholder="">
            </div>
        </div>
        <!--Filtros: fim (tentar estilizar os filtros de acordo com a guia de estilos).-->
    <hr class="separacao-de-conteudo">
    <p id="texto-comum-2">Coletas agendadas para hoje: data.</p>
        <div class="lista-de-coletas"> <!--Área de rolagem das coletas agendadas - Início.-->
            <!--Todo o conteúdo abaixo serve apenas para teste de funcionalidade
            e deve ser substituido no futuro por objetos reais.-->
            <div class="coleta-evento">
                <div id="atributos">     
                    <p id="atributos-coleta">Id-coleta: </p>
                    <p id="atributos-coleta">Data: </p>
                    <p id="atributos-coleta">Hora: </p>
                    <p id="atributos-coleta">Endereço: </p>
                </div>
                <div id="valores">
                    <p id="valores-coleta">001</p>
                    <p id="valores-coleta">04/11/2023</p>
                    <p id="valores-coleta">12:00</p>
                    <p id="valores-coleta">Rua Senac</p>
                </div>
                <hr class="separacao-vertical">
                <div id="descricao">
                    <p id="atributos-coleta">Pequena descrição:</p>
                    <p id="valores-coleta">Olá! Gostaria de agendar a coleta de materiais recicláveis para a próxima terça, às 12hrs.</p>
                </div>
            </div>
            <div class="coleta-evento">
                <div id="atributos">     
                    <p id="atributos-coleta">Id-coleta: </p>
                    <p id="atributos-coleta">Data: </p>
                    <p id="atributos-coleta">Hora: </p>
                    <p id="atributos-coleta">Endereço: </p>
                </div>
                <div id="valores">
                    <p id="valores-coleta">001</p>
                    <p id="valores-coleta">04/11/2023</p>
                    <p id="valores-coleta">12:00</p>
                    <p id="valores-coleta">Rua Senac</p>
                </div>
                <hr class="separacao-vertical">
                <div id="descricao">
                    <p id="atributos-coleta">Pequena descrição:</p>
                    <p id="valores-coleta">Olá! Gostaria de agendar a coleta de materiais recicláveis para a próxima terça, às 12hrs.</p>
                </div>
            </div>
            <div class="coleta-evento">
                <div id="atributos">     
                    <p id="atributos-coleta">Id-coleta: </p>
                    <p id="atributos-coleta">Data: </p>
                    <p id="atributos-coleta">Hora: </p>
                    <p id="atributos-coleta">Endereço: </p>
                </div>
                <div id="valores">
                    <p id="valores-coleta">001</p>
                    <p id="valores-coleta">04/11/2023</p>
                    <p id="valores-coleta">12:00</p>
                    <p id="valores-coleta">Rua Senac</p>
                </div>
                <hr class="separacao-vertical">
                <div id="descricao">
                    <p id="atributos-coleta">Pequena descrição:</p>
                    <p id="valores-coleta">Olá! Gostaria de agendar a coleta de materiais recicláveis para a próxima terça, às 12hrs.</p>
                </div>
            </div>
            <div class="coleta-evento">
                <div id="atributos">     
                    <p id="atributos-coleta">Id-coleta: </p>
                    <p id="atributos-coleta">Data: </p>
                    <p id="atributos-coleta">Hora: </p>
                    <p id="atributos-coleta">Endereço: </p>
                </div>
                <div id="valores">
                    <p id="valores-coleta">001</p>
                    <p id="valores-coleta">04/11/2023</p>
                    <p id="valores-coleta">12:00</p>
                    <p id="valores-coleta">Rua Senac</p>
                </div>
                <hr class="separacao-vertical">
                <div id="descricao">
                    <p id="atributos-coleta">Pequena descrição:</p>
                    <p id="valores-coleta">Olá! Gostaria de agendar a coleta de materiais recicláveis para a próxima terça, às 12hrs.</p>
                </div>
            </div>
            <!--Aqui acabam os elementos de teste!-->
        </div> <!--Área de rolagem das coletas agendadas - Fim.-->
</div> <!--Fim do card das coletas agendadas-->
<!--Componente1 - Fim.-->